<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Yummy Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Yummy
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <style>
    .custom-checkbox-label {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .custom-checkbox-label .custom-checkbox {
      display: inline-block;
      position: relative;
      padding-left: 30px;
      cursor: pointer;
    }

    .custom-checkbox-label .custom-checkbox input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    .custom-checkbox-label .custom-checkbox .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      border: 1px solid #aaa;
      background-color: #fff;
    }

    .custom-checkbox-label .custom-checkbox .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    .custom-checkbox-label .custom-checkbox input:checked ~ .checkmark:after {
      display: block;
    }

    .custom-checkbox-label .custom-checkbox .checkmark:after {
      left: 7px;
      top: 3px;
      width: 5px;
      height: 10px;
      border: solid #007bff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  </style>
</head>

<body>

  <div th:replace="~{header}"></div>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h3 data-aos="fade-up">디저트의 세계로 초대합니다!<br>팝업 레스토랑에서 특별한 순간을 만나보세요.</h3>
          <p data-aos="fade-up" data-aos-delay="100">특이한 식재료로 구성된 플레이트 디저트 코스를 경험해보세요. 놀라움과 맛의 조화로 여러분의 미각을 만족시킬 독특한 디저트 여정을 안내해드립니다.</p>
          <div class="d-flex">
            <div class="d-flex mx-1" data-aos="fade-up" data-aos-delay="200">
              <a href="/reservation" class="btn-book-a-table">예약</a>
            </div>
            <div class="d-flex mx-1" data-aos="fade-up" data-aos-delay="200">
              <a href="/reservation-find" class="btn-check-a-table">예약 조회</a>
            </div>
          </div>

        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="/assets/img/hero-img.jpeg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Menu</h2>
          <p>Check Our <span>Menu</span></p>
        </div>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

          <div class="tab-pane fade active show" id="menu-starters">

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="/assets/img/menu1.jpeg" class="glightbox"><img src="/assets/img/menu1.jpeg" class="menu-img img-fluid" alt=""></a>
                <h4>Plate.1</h4>
                <p class="ingredients">
                  모히또 크림을 채운 슈와<br> 크림슨 적포도 아이스크림을 플레이팅한 디저트
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/assets/img/menu2.jpeg" class="glightbox"><img src="/assets/img/menu2.jpeg" class="menu-img img-fluid" alt=""></a>
                <h4>Plate.2</h4>
                <p class="ingredients">
                  화이트 포트와인 밀푀유와 졸인 무화과 디저트
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/assets/img/menu3.jpeg" class="glightbox"><img src="/assets/img/menu3.jpeg" class="menu-img img-fluid" alt=""></a>
                <h4>Plate.3</h4>
                <p class="ingredients">
                  베이컨쨈 휘낭시에와 바질크림,<br> 오렌지커드를 플레이팅한 디저트
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/assets/img/menu4.jpeg" class="glightbox"><img src="/assets/img/menu4.jpeg" class="menu-img img-fluid" alt=""></a>
                <h4>Plate.4</h4>
                <p class="ingredients">
                  타이거넛츠 타르트 디저트
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/assets/img/menu5.jpeg" class="glightbox"><img src="/assets/img/menu5.jpeg" class="menu-img img-fluid" alt=""></a>
                <h4>Plate.5</h4>
                <p class="ingredients">
                  수제 그릭요거트에 잭후르츠 무스,<br> 딜오일을 곁들인 디저트
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Starter Menu Content -->

        </div>

      </div>
    </section><!-- End Menu Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>gallery</h2>
          <p>Check <span>Our Gallery</span></p>
        </div>

        <div class="gallery-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/assets/img/gallery/gallery-1.png"><img src="/assets/img/gallery/gallery-1.png" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/assets/img/gallery/gallery-2.png"><img src="/assets/img/gallery/gallery-2.png" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/assets/img/gallery/gallery-3.png"><img src="/assets/img/gallery/gallery-3.png" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/assets/img/gallery/gallery-4.png"><img src="/assets/img/gallery/gallery-4.png" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/assets/img/gallery/gallery-5.png"><img src="/assets/img/gallery/gallery-5.png" class="img-fluid" alt=""></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact</h2>
          <p>Need Help? <span>Contact Us</span></p>
        </div>

        <div class="mb-3">
          <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3163.079512102566!2d126.93533477619286!3d37.55319042489271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c98be008c1cb7%3A0xe05537187e463ff7!2z7ISc7Jq47Yq567OE7IucIOuniO2PrOq1rCDqs6DsgrAy6ri4IDY!5e0!3m2!1sko!2skr!4v1688404923669!5m2!1sko!2skr" frameborder="0" allowfullscreen></iframe>
        </div><!-- End Google Maps -->

      </div>
    </section><!-- End Contact Section -->
  </main>

  <div th:replace="~{footer}"></div>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>