<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Yummy Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Yummy
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <style>
    .custom-checkbox-label {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .custom-checkbox-label .custom-checkbox {
      display: inline-block;
      position: relative;
      padding-left: 30px;
      cursor: pointer;
    }

    .custom-checkbox-label .custom-checkbox input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    .custom-checkbox-label .custom-checkbox .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      border: 1px solid #aaa;
      background-color: #fff;
    }

    .custom-checkbox-label .custom-checkbox .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    .custom-checkbox-label .custom-checkbox input:checked ~ .checkmark:after {
      display: block;
    }

    .custom-checkbox-label .custom-checkbox .checkmark:after {
      left: 7px;
      top: 3px;
      width: 5px;
      height: 10px;
      border: solid #007bff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    .invalid-error-message {
      color: red;
      text-align: end;
      margin-bottom: 0 !important;
      font-weight: bold;
    }
  </style>
</head>

<body>

  <div th:replace="~{header}"></div>

  <!-- ======= Main ======= -->
  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li><a href="/">Home</a></li>
            <li>Reservation</li>
          </ol>
        </div>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Book A Table Section ======= -->
    <section id="book-a-table" class="book-a-table">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Book A Table</h2>
          <p>Book <span>Your Stay</span> With Us</p>
        </div>

        <div class="row g-0">

          <div class="col-lg-4 reservation-img" style="background-image: url(/assets/img/reservation.jpg);" data-aos="zoom-out" data-aos-delay="200"></div>

          <div class="col-lg-8 d-flex align-items-center reservation-form-bg">
            <form th:action="@{/reservation}" method="post" th:object="${reservation}" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
              <div class="row gy-4">
                <div class="form-group">
                  <label for="name">이름:</label>
                  <input type="text" th:field="*{name}" class="form-control" id="name" name="name" required>
                </div>

                <div class="form-group">
                  <label for="phone">전화번호</label>
                  <input type="tel" placeholder="010-1234-1234" th:field="*{phone}" class="form-control" id="phone" name="phone" required>
                  <p th:if="${#fields.hasErrors('phone')}" class="invalid-error-message">전화번호를 확인해주세요 (010-xxxx-xxxx)</p>
                </div>

                <div class="form-group">
                  <label for="reservationTime">예약 타임</label>
                  <select class="form-control" id="reservationTime" name="reservationTime" th:field="*{reservationTime}" required>
                    <option th:each="time : ${availableTimes}" th:value="${time}" th:text="${time.code}"></option>
                  </select>
                  <p th:if="${#fields.hasErrors('reservationTime')}" class="invalid-error-message">예약시간을 변경해주세요.</p>
                </div>

                <div class="form-group">
                  <label>예약명 수</label>
                  <input type="number" oninput="showValue()" placeholder=1 th:field="*{numberOfPeople}" class="form-control" id="numberOfPeople" min="1" required>
                </div>

                <label><span style="color: var(--color-primary)">▼</span> 음료는 두가지 중 하나를 선택하실 수 있습니다. 인원에 맞추어 입력해주세요.</label>
                <div class="form-group">
                  <label>자두에이드 (개수)</label>
                  <input type="number" placeholder=0 th:field="*{numberOfDrink1}" class="form-control" name="numberOfDrink1" min="0" required>
                  <p th:if="${#fields.hasErrors('numberOfDrink1')}" class="invalid-error-message">예약 인원에 맞추어 주세요.</p>
                </div>

                <div class="form-group">
                  <label>콜드브루커피 (개수)</label>
                  <input type="number" placeholder=0 th:field="*{numberOfDrink2}" class="form-control" name="numberOfDrink2" min="0" required>
                  <p th:if="${#fields.hasErrors('numberOfDrink2')}" class="invalid-error-message">예약 인원에 맞추어 주세요.</p>
                </div>

                <label><span style="color: var(--color-primary)">▼</span> 와인 페어링은 추가요금이 발생합니다. (20000원)</label>
                <div class="form-group">
                  <label>와인 페어링 (개수)</label>
                  <input type="number" oninput="showValue()" placeholder=0 th:field="*{winePairing}" class="form-control" id="winePairing" min="0" required>
                  <p th:if="${#fields.hasErrors('winePairing')}" class="invalid-error-message">예약 인원에 맞추어 주세요.</p>
                </div>


                <div class="form-group">
                  <label>개인 정보 수집 및 활용 동의</label>
                  <textarea class="form-control" style="height: 200px" th:insert="~{agree}" readonly></textarea>
                  <div class="d-flex justify-content-end align-items-center py-3">
                    <label class="form-check-label mx-2">동의:</label>
                    <input class="form-check-input" type="checkbox" id="agree" style="padding: 0; font-size: x-large;" required>
                  </div>
                </div>

                <div class="d-flex justify-content-end align-items-center">
                  <h2 id="price"></h2>
                </div>

                <div class="text-center"><button type="submit">예약</button></div>
              </div>
            </form>
          </div><!-- End Reservation Form -->
        </div>
      </div>
    </section><!-- End Book A Table Section -->
  </main>


  <div th:replace="~{footer}"></div>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<!--  <script src="/assets/vendor/php-email-form/validate.js"></script>-->

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

  <script>
    showValue()
    function showValue() {
      const numberOfPeople = document.getElementById("numberOfPeople").value;
      const winePairing = document.getElementById("winePairing").value;

      document.getElementById("price").textContent = ((numberOfPeople * 39000) + (winePairing * 15000)).toLocaleString() + "₩";
    }
  </script>

</body>

</html>