<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div>
  <div class="col-md-12 my-1 px-0">
    <div class="d-flex flex-wrap col-md-12 mt-2">
      <div class="col-md-2 me-3">
        <input id="reservationNumber" class="form-control" type="search" placeholder="예약번호"
               aria-label="Search">
      </div>
      <div class="col-md-2 me-3">
        <input id="name" class="form-control" type="search" placeholder="이름" aria-label="Search">
      </div>
      <div class="col-md-2 me-3">
        <input id="phone" class="form-control" type="search" placeholder="전화번호" aria-label="Search">
      </div>
    </div>
    <div class="d-flex">
      <div class="d-flex flex-wrap flex-grow-1 my-2">
        <div class="col-md-3 me-3 d-flex">
          <span class="input-group-text">예약시간</span>
          <select id="reservationTime" class="form-select" aria-label="Category"
                  aria-describedby="search-category">
            <option value="">전체</option>
            <option
                th:each="reservationTime : ${T(com.popup.dessert.dessertpopup.Dto.ReservationTime).values()}"
                th:value="${reservationTime}" th:text="${reservationTime.code}"></option>
          </select>
        </div>
        <div class="col-md-3 me-3 d-flex">
          <span class="input-group-text">와인 페어링</span>
          <select id="winePairing" class="form-select" aria-label="Category"
                  aria-describedby="search-category">
            <option value="">전체</option>
            <option value="true">o</option>
            <option value="false">x</option>
          </select>
        </div>
        <div class="col-md-3 me-3 d-flex">
          <span class="input-group-text">최종 완료</span>
          <select id="complete" class="form-select me-3" aria-label="Category"
                  aria-describedby="search-category">
            <option value="">전체</option>
            <option value="true">o</option>
            <option value="false">x</option>
          </select>
        </div>
      </div>
      <button class="btn btn-red my-2" onclick="loadPage(10, 1)" type="submit">검색</button>
    </div>
  </div>
  <div id="reservation-table" th:fragment="reservation-table-fragment">
    <div th:if="${reservations}">
      <table class="table table-striped reservation-table shadow-panel">
        <thead>
        <tr>
          <th class="text-center">에약번호</th>
          <th class="text-center">가격</th>
          <th class="text-center">이름</th>
          <th class="text-center">전화번호</th>
          <th class="text-center">인원</th>
          <th class="text-center">에약시간</th>
          <th class="text-center">자몽에이드</th>
          <th class="text-center">콜드브루커피</th>
          <th class="text-center">와인 페어링</th>
          <th class="text-center">최종 완료</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="reservation" type="com.popup.dessert.dessertpopup.Dto.ReservationResponse"*/-->
        <tr th:each="reservation : ${reservations.content}">
          <td class="text-center" th:text="${reservation.reservationNumber}"></td>
          <td class="text-center" th:text="${reservation.price}"></td>
          <td class="text-center" th:text="${reservation.name}"></td>
          <td class="text-center" th:text="${reservation.phone}"></td>
          <td class="text-center" th:text="${reservation.numberOfPeople}"></td>
          <td class="text-center" th:text="${reservation.reservationTime.code}"></td>
          <td class="text-center" th:text="${reservation.numberOfDrink1}"></td>
          <td class="text-center" th:text="${reservation.numberOfDrink2}"></td>
          <td class="text-center">
            <span th:if="${reservation.winePairing}">O</span>
            <span th:if="${!reservation.winePairing}">X</span>
          </td>
          <td class="text-center">
          <span th:if="${reservation.complete}">
            <button
                th:onclick="completeReservation([[${reservation.id}]], [[${reservations.size}]], [[${reservations.number + 1}]])"
                class="btn btn-black-sm" type="submit">
              확정됨
            </button>
          </span>
            <span th:if="${!reservation.complete}">
            <button
                th:onclick="completeReservation([[${reservation.id}]], [[${reservations.size}]], [[${reservations.number + 1}]])"
                class="btn btn-red-sm" type="submit">
              확정
            </button>
          </span>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">

        <button
            th:if="${reservations.hasPrevious()}"
            th:onclick="loadPage([[${reservations.size}]], [[${reservations.number}]])"
            class="page-link" aria-label="Previous">
          <span aria-hidden="true"><</span>
        </button>

        <div
            th:if="${reservations.totalPages > 0}" class="m-2"
            th:each="pageNumber : ${pageNumbers}">
          <button
              class="page-link"
              th:onclick="loadPage([[${reservations.size}]], [[${pageNumber}]])"
              th:style="${pageNumber==reservations.number + 1} ? 'color:var(--color-primary); font-weight: bold' : 'color: #000'">
            <span th:text="${pageNumber}"></span>
          </button>
        </div>

        <button
            th:if="${reservations.hasNext()}"
            th:onclick="loadPage([[${reservations.size}]], [[${reservations.number + 2}]])"
            class="page-link m-2" aria-label="Next">
          <span aria-hidden="true">></span>
        </button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script th:inline="javascript">
  window.onload = function () {
    loadPage(10, 1)
  }

  function loadPage(size, page) {
    $.ajax(
        {
          type: "GET",
          url: "/admin/reservation-table?size=" + size + "&page=" + page,
          data: {
            reservationNumber: $("#reservationNumber").val(),
            name: $("#name").val(),
            phone: $("#phone").val(),
            reservationTime: $("#reservationTime").val(),
            winePairing: $("#winePairing").val(),
            complete: $("#complete").val()
          }
        }
    ).done(function (result) {
      $("#reservation-table").replaceWith(result);
    })

  }

  function completeReservation(id, size, page) {
    $.ajax(
        {
          type: "POST",
          url: "/admin/reservation/complete?id=" + id,
        }
    ).done(function () {
      loadPage(size, page)
      loadPanel()
    })
  }
</script>


</html>